<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ao.co.isptec.aplm.projetoanuncioloc">

    <!-- Permissões de localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permissões para localização em background e notificações (Android 13+) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoAnuncioLoc">

        <!-- TUA CHAVE DO GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdUFNVoG0VaUQx-fnd3r-VamMcxjZQtPY" />

        <service android:name=".Service.MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Service.LocationUpdateService" android:exported="false" />
        <service android:name=".Service.ForegroundLocationService" android:exported="false" android:foregroundServiceType="location" />


        <!-- Activities -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AdicionarLocalActivity" android:exported="false" />
        <activity android:name=".PerfilActivity" android:exported="false" />
        <activity android:name=".AdicionarAnunciosActivity" android:exported="false" />
        <activity android:name=".AnuncioGuardadoActivity" android:exported="false" />
        <activity android:name=".MapaActivity" android:exported="false" />
        <activity android:name=".NotificacoesActivity" android:exported="false" />
        <activity android:name=".AlterarSenhaActivity" android:exported="false"  />
    </application>

</manifest>